@-webkit-keyframes fade {
  from {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes show {
  from {
    -webkit-transform: translate3d(500px, 0, 0);
            transform: translate3d(500px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes show {
  from {
    -webkit-transform: translate3d(500px, 0, 0);
            transform: translate3d(500px, 0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.header {
  -webkit-box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
          box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}

.header > .nav {
  width: 80%;
  max-width: 75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

.header > .nav > .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header > .nav > .logo > svg {
  width: 3.75rem;
}

.header > .nav > .logo > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.9375rem;
}

.header > .nav > .logo > div > svg {
  height: 2.8125rem;
}

.header > .nav > .logo > div > svg > path {
  fill: #FF6700;
}

.header > .nav > .logo > div > p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 1.40625rem;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.header > .nav > ul.containerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > .nav > ul.containerLinks > li + li {
  margin-left: 1.875rem;
  position: relative;
}

.header > .nav > ul.containerLinks > li + li::after {
  content: '|';
  position: absolute;
  top: 0;
  left: -0.9375rem;
  right: 0;
  bottom: 0;
  margin: auto;
}

.header > .nav > ul.containerLinks > li > a {
  text-transform: uppercase;
  color: #707070;
  position: relative;
  z-index: 99;
}

.header > .nav > ul.containerLinksMobile {
  display: none;
}

.header > .nav > ul.containerLinksMobileActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFFCFC;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: show .5s forwards;
          animation: show .5s forwards;
}

.header > .nav > ul.containerLinksMobileActive > li {
  width: 100%;
  background-color: #FFFCFC;
  padding: 1.875rem;
}

.header > .nav > ul.containerLinksMobileActive > li > a {
  color: #FF6700;
  text-transform: uppercase;
  text-align: center;
}

.header > .nav > ul.containerSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > .nav > ul.containerSocial > li {
  font-size: 1.5rem;
  position: relative;
}

.header > .nav > ul.containerSocial > li + li {
  margin-left: 0.9375rem;
}

.header > .nav > ul.containerSocial > li .socialIcon {
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
}

.header > .nav .menuButton {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 2.4rem;
  color: #FF6700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 99;
}
/*# sourceMappingURL=Header.module.css.map */