@import "../styles/variables";

.table {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  >h2 {
    font-size: rem($fontSize);
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: $primary;
    font-weight: 500;
    text-align: center;
  }

  >.infos {
    display: grid;
    grid-template-columns: repeat(4, rem($spacing*2));
    justify-content: center;
    place-items: center;
    gap: rem(30);
    row-gap: rem(5);
    margin: rem(10) 0;
    

    >.item{
      width: 100%;
      height: rem($spacing*2);

      border-radius: 50%;
      border: 1px solid $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      
      >.num{
        display: block;
        color: $primary;
        font-size: rem($fontSize/1.25);
      }
    }

    >p{
      color: $primary;
      text-transform: uppercase;
      font-size: rem($fontSize/1.25);
    }
  }

  >.ingredients {
    color: $secondary;
    width: 100%;
    max-width: rem(330);
  }
}