/*CSS Reset*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body a {
  display: block;
  text-decoration: none;
}

body h1, p {
  margin: 0;
  font-weight: normal;
}

body img {
  display: block;
  max-width: 100%;
}

body ul {
  margin: 0;
  padding: 0;
}

body li {
  list-style: none;
}